.bg-style{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0,0,0,0.7)
      ), url('../../../../images/car2-new-bg.jpg') no-repeat center center ;
    background-size:cover;
    padding: 100px 0px;
    background-color: rgba(233, 60, 60, 0.7)
}