.banner-container{
    background: url('../../../../images/background-search.jpg') no-repeat center center ;
    background-size:cover;
    padding: 90px 0px;
}
.banner-text{
    color: #F4BE2C;
}
@media only screen and  (max-width:768px){
    .img-info{
        order: 2;
    }
}
@media only screen and (min-width:769px) and (max-width:992px){
    .banner-text h5{
        font-size: 15px;
    }
    .img-info{
        order: 2;
    }
}